<nav>
 <div class="container">
  <div class="navbar">
    <div class="logo">
      <a routerLink="user-list" >
        <img  src="../../assets/img/man(1).png" alt="">

      </a>
    </div>


    <ul class="nav-links">
      <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
      <li><a routerLink="user-list" routerLinkActive="active">User List</a></li>

    </ul>
    <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
  </div>
 </div>
</nav>

