.user {
  background-color: #fff;
  align-items     : center;
  width           : 80%;
  margin          : auto;
  height          : 100vh;

}

.user-details {
  display        : flex;
  justify-content: space-between;
  height         : 100%;
  align-items    : center;
  flex-wrap      : wrap;
}

.user-details-img {
  width: 20%;
}

.user-details-img figure {
  margin-bottom: 0;

}

.user-details-info {
  width  : 75%;
  padding: 2rem 0;
}

.user-details-info h1 {
  font-size    : 3rem;
  font-family  : 'Righteous', sans-serif;
  margin-bottom: 1rem;

}

hr {
  margin-bottom: 1rem;
}

.user-details-info p {
  font-family: 'Righteous', sans-serif;
  font-size  : 1.2rem;
  text-align : center;
  height     : 100%;
  margin     : 0;
}

img {
  width                : 100%;
  border-radius        : 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius   : 50%;
  -ms-border-radius    : 50%;
  -o-border-radius     : 50%;
  margin               : auto;
}

ul {
  padding        : 0;
  list-style-type: none;
  margin-bottom: 1rem;
}

li {
  padding    : 0.5rem 0;
  font-family: 'Righteous', sans-serif;
  font-size  : 1rem;

}

li span {
  padding-right: rem;
  font-weight  : bold;
  font-family  : 'Righteous', sans-serif;
  color        : var(--main-color);

}

.user-details-id {
  width              : 40px;
  height             : 40px;
  background-color   : var(--main-color);
  margin-bottom      : 1rem;
  -moz-outline-radius: 50%;
  display            : flex;
  justify-content    : center;
  align-items        : center;
}

.loader {
  display        : flex;
  justify-content: center;
  align-items    : center;
  height         : 100vh;
}

button{
  background-color: var(--main-color);
  padding: 1rem 2rem;
  border: none;
  color: #fff;
  font-family  : 'Righteous', sans-serif;
  cursor: pointer;

}
@media screen and (max-width:1200px) {

  .user-details-img {
    width: 30%;
  }

  .user-details-info {
    width: 65%;
  }
}

@media screen and (max-width:768px) {
  .user-details-info h1 {
    font-family: 'Righteous', sans-serif;
    font-size  : 2rem;
  }

  .user {
    background-color: #fff;

    align-items: center;
    width      : 95%;
    margin     : auto;
    height     : 100vh;
    padding    : 6rem 5rem;
  }


  .user-details-img {
    width : 80%;
    margin: auto;
  }

  .user-details-info {
    width: 100%;
  }
}

@media screen and (max-width:425px) {
  .user {

    width: 95%;


  }

  .user-details-img {
    width: 100%;
  }

  .user-details-info {
    width: 100%;

  }

}
