<div class="container">
  <header class="search-bar">
    <h1>User Management System</h1>
    <input
      type="text"
      placeholder="Search by ID"
      [(ngModel)]="searchTerm"
      (input)="search()"
    />
  </header>

  <h2 class="error-message" *ngIf="errorMessage" [ngClass]="{'full-height ': searchTerm,'error ': searchTerm}">
    {{ errorMessage }}
  </h2>

  <section [ngClass]="{'full-height': searchTerm}" *ngIf="!errorMessage">
    <div class="user-list">
      <div *ngFor="let user of allUsers" class="user-list-style">
        <app-user-card [user]="user"></app-user-card>
      </div>
      <mat-spinner *ngIf="isLoading"></mat-spinner>
    </div>
    <mat-paginator *ngIf="havePagination" [length]="totalPages" [pageSize]="6" (page)="pageChange($event)"></mat-paginator>
  </section>
</div>
