<div class="container">
  <header class="search-bar">
    <h1>User Management System</h1>
    <input
      type="text"
      placeholder="Search by ID"
      [(ngModel)]="searchTerm"
      (input)="search()"
    />
  </header>

  <h2 class="error-message" *ngIf="errorMessage" [ngClass]="{ 'full-height': searchTerm }">
    {{ errorMessage }}
  </h2>

  <section [ngClass]="{ 'full-height': searchTerm }" *ngIf="!errorMessage">
    <div class="user-list">
      <div *ngFor="let user of allUsers" class="user-list-style">
        <app-user-card [user]="user" [previousPage]="currentPage"></app-user-card>
      </div>
      <mat-spinner *ngIf="isLoading"></mat-spinner>
    </div>
    <div class="btn-paginacao" *ngIf="havePagination">
      <ul>
        <li *ngFor="let page of pages">
          <button (click)="changePage(page)" [ngClass]="{ 'active': isActive(page) }">{{ page }}</button>
        </li>
      </ul>
    </div>

  </section>
</div>
